ul,li{
    list-style: none;
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'BT Futura W01', Arial, sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
a,button,li,i{
    cursor: pointer;
}
.grid_comlum-10{
    width: 100%;
}
.grid_column-3{
    width: 33%;
    padding-left: 10px;
    position: relative;
    padding-top: 10px;
}
.grid_colum-4{
    width:25%;
    position: relative;
}
.grid_colum-2{
    width: 50%;
    position: relative;
}